<!-- About -->
<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">{{ site.data.about.given_name }} <span class="text-primary">{{ site.data.about.family_name }}</span></h1>
        <div class="subheading mb-4">{{ site.data.about.title }} · {{ site.data.about.institute }} ·
            <a href="mailto:{{ site.data.about.email }}" target="_blank"
                rel="noopener noreferrer">{{ site.data.about.email }}</a> · {{ site.data.about.pronouns }}
        </div>
        <p class="lead text-dark mb-3">
            <ul class="lead text-dark mb-3 no-bullets bg-primary-very-opaque p-2">
                <li class="mb-1">I am a <span class="bolder-text">[student]</span> at <span class="bolder-text">Georgetown University</span>.</li>
                <li class="mb-1">My research in <span class="bolder-text">[field]</span> mainly pertains to [description]</li>
                <li class="mb-1">My research in <span class="bolder-text">[other field]</span> focuses on [description].</li>
            </ul>
        </p>

        <p class="lead text-dark mb-3">
            Before coming to Georgetown, I worked as [previous jobs]. I received my [degree] from [college], where I [internships/RAships/extracurriculars/etc.]
        </p>

        <p class="lead text-dark mb-5">
            In my free time I enjoy [hobbies]. Feel free to <a href="mailto:{{ site.data.about.email }}" target="_blank" rel="noopener noreferrer">email me</a>!
        </p>
    </div>
</section>
